<p>learn-tailwind works!</p>
<br>

<p>Core Concepts</p>
<br>

<!-- Pseudo-classes -->
<span>Pseudo-classes - Hover</span>
<br>
<button class="bg-sky-500 hover:bg-pink-700 ...">Save changes</button>

<br>
<span>Pseudo-classes - Focus</span>
<br>
<input type="text" class="focus:bg-red-500" placeholder="bấm vào">

<br>
<span>Pseudo-classes - first-child</span>
<br>
<div class="first:pt-50" *ngFor="let i of [1,2,3,4,5]"> {{'Phần tử thứ: '+ i}}}</div>

<br>
<span>Pseudo-classes - require</span>
<br>
<input type="text" class="required:border-green-500" placeholder="bấm vào 2">