<div class="page_box">
    <div class="page_container">
        <div class="logo_box">
            <img  [routerLink]="['']"  class="box-img" src="../../../../../assets/img/ui/logo.png">
        </div>
        <div class="search_box">
            <mat-form-field class="form_input">
                <mat-label>
                    Tìm kiếm
                </mat-label>
                <input matInput type="text" [matAutocomplete]="auto" [(ngModel)]="searchInput"/>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of productFilter(); let i = index">
                        <a (click)="searchInput = ''" [routerLink]="['/product/' + item.id]" routerLinkActive="router-link-active" >
                            {{i + 1}}| {{item.name}} || price: {{item.price | formatVnd}}
                        </a>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div (click)="openCart()" class="cart_box">
            <span class="cart_icon material-symbols-outlined">garden_cart</span>
            <span class="cart_text">Bạn có ({{cartService.countCart()}}) sản phẩm trong giỏ hàng</span>
        </div>
        <div *ngIf="isShowCart" class="cart_pop_box border border-black p-2">
            <div class="title_box">
                <span class="cart_icon material-symbols-outlined">garden_cart</span>
                <span class="title_text">Giỏ Hàng Của Bạn</span>
            </div>
            <img (click)="closeCart()" class="close_box" src="../../../../../assets/img/ui/close.svg">
            <div class="table_box">
                <table mat-table [dataSource]="cart" class="mat-elevation-z8">
                        <!-- Name Column -->
                    <ng-container matColumnDef="productIndex">
                        <th mat-header-cell *matHeaderCellDef>*</th>
                        <td mat-cell *matCellDef="let element"> {{getIndex(element.product.id) + 1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef>Tên Sản Phẩm</th>
                        <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="productPrice">
                        <th mat-header-cell *matHeaderCellDef> Giá </th>
                        <td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="productAmount">
                        <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="input_amount_box">
                                <button (click)="reduceAmount(element.amount, element.product.id)" mat-raised-button>-</button>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="form1" class="form-control" value="{{element.amount}}"/>
                                    <label mdbLabel class="form-label" for="form1">Số lượng</label>
                                </mdb-form-control>
                                <button (click)="increaseAmount(element.product.id)" mat-raised-button>+</button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="productTotal">
                        <th mat-header-cell *matHeaderCellDef> Thành tiền </th>
                        <td mat-cell *matCellDef="let element"> {{element.product.price * element.amount | formatVnd}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="productNote">
                        <th mat-header-cell *matHeaderCellDef> Ghi chú </th>
                        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="tableColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableColumn;"></tr>
                </table>
            </div>
            <span class="total_text">{{cartService.totalCart() | formatVnd}}</span>

            <form class="form_input" [formGroup]="formData2" (ngSubmit)="submitForm()">
                <div style="display: flex; align-items: center;" class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Your Name</span>
                    <input type="text" class="form-control" placeholder="ex: Nguyễn Thanh Bình Phước" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="name"/>
                    <span class="ml-2" *ngIf="!formData2.controls.name.valid" style="color: red">phải nhập tên</span>
                </div>
                <div style="display: flex; align-items: center;" class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Phone</span>
                    <input type="text" class="form-control" placeholder="ex: 0329 577 177" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="phone"/>
                    <span class="ml-2" *ngIf="!formData2.controls.phone.valid" style="color: red">phải nhập sdt</span>
                </div>
                <div style="display: flex; align-items: center;" class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Address</span>
                    <input type="text" class="form-control" placeholder="ex: số 72, Phạm Thị Tánh, P4, Q8, HCM" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="address"/>
                    <span class="ml-2" *ngIf="!formData2.controls.address.valid" style="color: red">phải nhập địa chỉ</span>
                </div>
                <div style="display: flex; align-items: center;" class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="ex: mieuhamchoi@gmail.com" aria-label="Username"
                    aria-describedby="basic-addon1" formControlName="email"/>
                    <span class="ml-2" *ngIf="!formData2.controls.email.valid" style="color: red">email không đúng định dạng</span>
                </div>
                <button type="submit" [disabled]="!formData2.valid" class="btn btn-primary">Xác nhận đặt hàng</button>
            </form>
        </div>
    </div>
</div>