$maxHP: 60px;
$maxWC: 1400px;
.page_box {
    width: 100%;
    height: $maxHP;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    .page_container {
        width: $maxWC;
        height: 100%;
        //background-color: rgb(240,190,108);
        display: flex;
        align-items: center;
        .logo_box {
            width: 350px;
            height: 100%;
            display: flex;
            align-items: center;
            .box-img {
                width: 300px;
                height: 100%;
                object-fit: fill;
                cursor: pointer;
            }
        }
        .search_box {
            width: 300px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}