@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$fontCartText: 'Roboto', sans-serif;
$maxHP: 60px;
$maxWC: 1400px;
.page_box {
    width: 100%;
    height: $maxHP;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    font-size: 15px;
    .page_container {
        width: $maxWC;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1em;
        .logo_box {
            width: 350px;
            height: 100%;
            display: flex;
            align-items: center;
            .box-img {
                width: 300px;
                height: 100%;
                object-fit: fill;
                cursor: pointer;
            }
        }
        .search_box {
            width: 300px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .form_input {
                width: 100%;
                transform: translateY(15%);
            }
        }
        .cart_box {
            position: absolute;
            right: 2em;
            display: flex;
            align-items: center;
            cursor: pointer;
            .cart_icon {
                font-size: 3em;
                color: white;
            }
            .cart_text {
                font-size: 1em;
                color: white;
                font-family: $fontCartText;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        .cart_pop_box {
            width: 1400px;
            max-height: 700px;
            min-height: 400px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 11;
            transform: translateY(100%);
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            font-size: 1em;
            background-color: rgb(255, 255, 255);
            overflow-y: auto;
            overflow-x: hidden;
            .title_box {
                width: 100%;
                display: flex;
                align-items: center;
                .cart_icon {
                    font-size: 2em;
                    color: grey;
                    margin-right: 0.2em;
                }
                .title_text {
                    font-size: 1.5em;
                    font-family: $fontCartText;
                    color: grey;
                }
            }
            .close_box {
                width: 3em;
                height: 3em;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
            }
            .table_box {
                width: 100%;
                max-height: 400px;
                overflow-y: auto;
                overflow-x: hidden;
                * {
                    text-align: center;
                }
                .mat-mdc-header-row {
                    position: sticky;
                    top: 0;
                }
                .input_amount_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .total_text {
                position: absolute;
                right: 0;      
                font-size: 1.8em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: grey;
                font-weight: 900;
                z-index: 11;
            }
            .form_input {
                width: 500px;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    //display: none;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 2px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(35,39,42,0.5); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(35,39,42,0.5); 
}