<div class="page_box">
    <span class="history_link_groups">
        <a [routerLink]="['']" routerLinkActive="router-link-active"  class="history_link-item" href="">Trang Chủ > </a>
        <a [routerLink]="['']" class="history_link-item" href="">Danh Mục > </a>
        <a *ngIf="getCatalogById(catalogId) != null" [routerLink]="['/catalog/' + catalogId]" class="history_link-item" href="">{{getCatalogById(catalogId).name}}</a>
    </span>
    <div class="mt-2 grid grid-cols-5 gap-4">
        <a [routerLink]="['/product/' + product.id]" target="_blank" *ngFor="let product of productList; let i = index" class="product_box col-span-1 border border-black p-2">
            <div class="avatar_box">
                <img class="avatar_img" [src]="getProductPicture(product.avatarLink)">
            </div>
            <div class="info_box">
                <span class="brand_text">{{ product.brand | uppercase}}</span>
                <span class="name_text">{{ product.name }}</span>
                <span class="price_text">Price:</span>
                <span class="price_text" style="color: blue">{{product.price | formatVnd}}</span>
                <button class="btn_buy" mat-stroked-button color="primary">Thêm vào giỏ hàng</button>
            </div>
        </a>
    </div>
</div>
